@font-face {
    font-family: "font";
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: white;
     font-family: 'font';

 }

 html,
 body {
     height: 100%;
     width: 100%;
     /* perspective: 800px; */

 }
 *::selection{
    background-color: #fff;
    color: #95C11E;;
 }
body::-webkit-scrollbar{
    display: block;
    width: 8px;
    background: linear-gradient(to right, #95C11E,#000);

}
body::-webkit-scrollbar-thumb{
background-color: #fff;
border-radius: 50px;
}


 #cursor {
     height: 20px;
     width: 20px;
     background-color: #95C11E;
     border-radius: 50%;
     position: fixed;
     z-index: 99;
 }

 #cursor-blur {
     height: 400px;
     width: 400px;
     background-color: #96c11e41;
     border-radius: 50%;
     position: fixed;
     filter: blur(40px);
     z-index: 9;

 }

 #nav {
     height: 135px;
     width: 100%;
     /* background-color: red; */
     display: flex;
     align-items: center;
     padding: 0 145px;
     position: fixed;
     gap: 80px;
     justify-content: flex-start;
     z-index: 99;

 }

 #nav img {
     height: 65px;
 }

 #nav h4 {
     text-transform: uppercase;
     font-weight: 500;

 }

 video {
     height: 100%;
     width: 100%;
     object-fit: cover;
     position: fixed;
     z-index: -1;
 }

 #main {
     position: relative;
     background-color: rgba(0, 0, 0, 0.521);
 }

 #page1 {

     height: 100vh;
     width: 100%;
     /* background-color: red; */
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     z-index: 10;

 }

 #page1 h1 {
     font-size: 140px;
     font-weight: 900;
     position: relative;
 }

 #page1 h1::before {
     content: "EAT.DRINK.PLAY.";
     position: absolute;
     color: black;
     top: -6px;
     left: -4px;
     -webkit-text-stroke: 1px #95C11E;
     z-index: -1;

 }

 #page1 h2 {
     font-size: 33px;
     font-weight: 800;
     margin-right: 10px;
     margin-bottom: 20px;
 }

 #page1 p {
     font-size: 20px;
     font-weight: 500;
     width: 40%; 
}
#page1>#arrow{
    height: 250px;
    width: 250px;
    background-color:transparent;
    border: 2px solid #95C11E;
    position: absolute;
    display: flex;
    left: -2%;
    bottom: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;

}
#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;
}
#page1>#arrow :hover{
scale: 0.4;
background-color: #95C11E;
}
 #page2 {
     min-height: 100vh;
     width: 100%;
     z-index: 10;

 }

 #scroller {
     /* background-color: red; */
     white-space: nowrap;
     overflow-x: auto;
     overflow-y: hidden;
     position: relative;
     z-index: 10;
 }

 #scroller::-webkit-scrollbar {
     display: none;
 }

 #scroller-in {
     display: inline-block;
     white-space: nowrap;
     animation-name: scroll;
     animation-duration: 30s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }

 #scroller h4 {
     display: inline-block;
     font-size: 90px;
     font-weight: 900;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-right: 10px;
     transition: all linear 0.7s;
     color: transparent;
     -webkit-text-stroke: 2px #95C11E;
 }

 #scroller h4:hover {
     color: #95C11E;
 }

 @keyframes scroll {
     from {
         transform: translateX(0);
     }

     to {
         transform: translateX(-100%);
     }
 }

 #about-us {
     height: 40vh;
     width: 100%;
     /* background-color: red; */
     display: flex;
     padding: 0 50px;
     align-items: center;
     justify-content: space-around;
     position: relative;
 }

 #about-us img {
     height: 220px;
     width: 220px;
     object-fit: cover;
     border-radius: 20px;
 }

 #about-in {
     width: 50%;
     text-align: center;
 }

 #about-in h2 {
     font-size: 50px;
     text-transform: uppercase;
     font-weight: 800;
     margin-bottom: 30px;

 }

 #about-in p {
     font-size: 20px;
     line-height: 26px;
 }

 #card-container {
     width: 100%;
     /* background-color: red; */
     height: 60vh;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 70px;
     position: relative;
     z-index: 10;
 }

 .card {
     height: 80%;
     width: 22%;
     /* background-color: blue; */
     border-radius: 30px;
     background-size: cover;
     background-position: center;
     /* position: relative; */
     overflow: hidden;
     transition: all ease 0.5s;
 }

 #card1 {
     background-image: url(./card1.avif);
 }

 #card2 {
     background-image: url(./card2.webp);
 }

 #card3 {
     background-image: url(./card3.avif);
 }

 .overlay {
     height: 100%;
     width: 100%;
     background-color: #95C11E;
     padding-top: 160px;
     padding: 30px;
     opacity: 0;
     transition: all ease 0.5s;


}

.overlay h4 {
     font-size: 40px;
     font-weight: 700;
     text-transform: uppercase;
     white-space: nowrap;
     color: #000;
     margin-bottom: 20px;
}

.overlay p {
     color: #000;
     font-size: 18px;
}

.card:hover .overlay{
     opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#green-div{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    background: linear-gradient( to left bottom, #35AE34,#86D027);
}
#green-div h4{
    width: 45%;
    line-height: 50px;
    color: #000;
    text-align: center;
    font-size: 27px;
    font-weight: 800;
    text-transform: uppercase;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
font-size: 35px;
font-weight: 700;
width: 60%;
line-height: 45px;
text-align: center;
}
 
#page3>img{
    position:absolute;
    height: 60px;

}
#page3 #colon1{
    left:15%  ;
    top: 25%;
}

#page3 #colon2{
 bottom: 25%;
 right: 15%;
}
#page4{
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.elem{
    height: 70%;
    width: 26%;
    overflow:hidden;
    position: relative;
    border-radius:20px ;
}
.elem>h2{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    color: #000;
    font-weight: 500;
    transition: all ease 0.5s;

    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 40px;
    position: absolute;
z-index: 10;
}
.elem>img{
    height:100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;

    scale: 1.1;
}
.elem:hover h2{
    color: #fff;
    background-color: transparent;
}
.elem:hover img{
    scale: 1;
}
#page4>h1{
    font-size:90px ;
    position: absolute;
    top:-12%;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 1px #fff;
}
#footer{
    height: 40vh;
    width: 100%;
  
        background: linear-gradient( to left bottom, #35AE34,#86D027);
        position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
}
#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;

}
#f1>img{
    height: 100px;
}
#f1,#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 2;

}
#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;

}
#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
    
}
#f4 h4{
    font-size: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 20px;
}